/*     -----     Set up, reset, and variables     -----     */
:root {
  --highlight-red: hsl(360, 100%, 25%);
  --highlight-blue: hsl(192, 73%, 36%);
  --background: hsl(240, 3%, 75%);
  --mid-tone: hsl(280, 3%, 85%);
  --shadows: hsla(0, 0%, 30%, 0.3);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*     -----     Main Elements Stuff     -----     */
body {
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

section {
}

a {
  color: var(--highlight-blue);
}

h1, h2, h3, footer {
  font-family: 'Playfair Display', sans-serif;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.1rem;
}

body {
  background-color: var(--background);
  display: grid;
}

button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 0px solid pink;
  border-radius: 1rem;
  background-color: var(--highlight-blue);
  color: var(--mid-tone);
  cursor: pointer;
  transition: 150ms;
}

button:hover {
  background-color: var(--highlight-red);
}

footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

/*     -----     Custom Elements     -----     */

#addBookbtn {
}

#cardDeck {
  padding: 0.25rem;
  display: grid;
  gap: 1.0rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.card {
  padding: 1rem 0.5rem ;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: var(--mid-tone);
  border: 1px solid #aaaaaa;
  border-radius: 2%;
  box-shadow: -2px 2px 2px var(--shadows);
  transition: 150ms;
}

/* .card:hover {
  scale: 1.02;
  box-shadow: -5px 5px 5px var(--shadows);
} */

.card > * {
  margin-top: 0.5rem;
}

.card > img {
  width: 10rem;
}